@import
  'modules/settings',
  'compass/css3';

* {
    margin: 0;
    padding: 0;
}

body {
  background: #fff;
  color: #333;
}

section {
  padding: 2rem 0;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.max-width {
  max-width: 45rem;
  width: 100%;
  min-width: 10rem;
}

.header {
  width: 100%;
  background: #eb5191;
  padding: 1rem 0;
  h1 {
    @extend .max-width;
    color: #fff;
    font: {
      size: 1.25rem;
      style: italic;
      weight: 400;
      family: $btn-font-family;
    }
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0;
  }
}

.shell {
  @include border-radius();
  padding: 0 1rem 1rem 1rem;
  background: #fff;
  @extend .max-width;
  margin: 2rem auto;
}

.shape {
  clear: both;
  margin: 2rem auto 3rem auto;
  .shape--title {
    font: {
      family: $btn-font-family;
      size: 3rem;
      style: italic;
    }
    border-bottom: solid 1px #ddd;
    line-height: 150%;
    span {
      display: inline-block;
      padding-left: 1rem;
    }
  }
  .shape--example {
    margin: 1rem;
    float: left;
  }
  &:after {
    content: '';
    clear: both;
  }
}

.clear {
  clear: both;
  padding-bottom: 2rem;
}