@import
  'modules/settings',
  'compass/css3';

* {
    margin: 0;
    padding: 0;
}

body {
  background: #fff;
  color: #333;
}

section {
  padding: 2em 0;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.max-width {
  width: 100%;
  min-width: 10em;
  max-width: 45em;
}

.header {
  width: 100%;
  background: #eb5191;
  padding: 1em 0;
  h1 {
    @extend .max-width;
    color: #fff;
    font: {
      size: 1.25em;
      style: italic;
      weight: 400;
      family: $btn-font-family;
    }
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 0;
  }
}

.shell {
  @include border-radius();
  padding: 0 1em 1em 1em;
  background: #fff;
  @extend .max-width;
  margin: 2em auto;
}

.shape {
  clear: both;
  margin: 2em auto 3em auto;
  .shape--title {
    font: {
      family: $btn-font-family;
      size: 3rem;
      style: italic;
    }
    border-bottom: solid 1px #ddd;
    line-height: 150%;
    span {
      display: inline-block;
      padding-left: 1em;
    }
  }
  .shape--example {
    margin: 1em;
    float: left;
  }
  &:after {
    content: '';
    clear: both;
  }
}

.clear {
  clear: both;
  padding-bottom: 2em;
}