@import
  "../modules/settings",
  "../modules/mixins",
  "compass/css3";

@include exports("cta") {
  .cta {
    box-sizing: border-box;
    display: inline-block;
    background-color: $btn-bg-color;
    color: $btn-color;
    font: {
      family: $btn-font-family;
      size: 1.2rem;
      weight: 600;
    }
    text: {
      align: center;
      decoration: none;
    }
    // anti-aliased
    @include font-smoothing();
    // css3 transition
    @include transition(all .25s);
    // hover state
    &:hover {
      text-decoration: none;
      background-color: darken($btn-bg-color, 10%);
    }
    // center text
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}