@import "../modules/settings";
@import "base";
@import "compass/css3";

.cta_diamond {
  @extend .cta;
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-bottom-color: $btn-bg-color;
  background-color: transparent;
  position: relative;
  top: -100px;
  @include transition(none);
  span {
    display: block;
    position: absolute;
    top: 75px;
    left: -20px;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    left: -100px;
    top: 100px;
    width: 0;
    height: 0;
    border: 100px solid transparent;
    border-top-color: $btn-bg-color;
  }
  &:hover {
    background-color: transparent;
    border-bottom-color: darken($btn-bg-color, 10%);
    &:after {
      border-top-color: darken($btn-bg-color, 10%);
    }
  }
}

// only supported in IE9+, Chrome 12+, FF 16+, Safari 3+, Opera 15+
.cta_diamond-html5 {
  @extend .cta;
  margin: 45px 0 0 25px;
  @include rotate(-45deg);
  height: 125px;
  width: 125px;
  border: solid 1px darken($btn-bg-color, 30%);
  background-color: $btn-bg-color;
  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 125px;
    z-index: 2;
    @include rotate(45deg);
  }
  &:hover {
    background-color: darken($btn-bg-color, 10%);
  }
}

.cta_diamond-bg {
  @extend .cta;
  position: relative;
  background: {
    color: transparent;
    image: url(//static.fpassets.com/content/gateways/2014/06-jun/acc/images/23/Diamond-Button-Background.png);
    repeat: no-repeat;
    position: top left;
  }
  width: 210px;
  height: 162px;
  @include transition(none);
  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 162px;
    z-index: 2;
    color: $btn-bg-color;
  }
  &:hover {
    background: {
      color: transparent;
      image: url(//static.fpassets.com/content/gateways/2014/06-jun/acc/images/23/Diamond-Button-Background.png);
      repeat: no-repeat;
      position: bottom left;
    }
  }
}