// button examples
$btn-font-family: Baskerville, "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
$btn-color: #faf9f8;
$btn-bg-color: #4388a7;
$btn-bg-img: 'http://www.freepeople.com/resources/_shared/images/backgrounds/border-75.png';

// art
$rect-left-img: '../images/rectangle-left.png';
$rect-right-img: '../images/rectangle-right.png';
$triangle-top: '../images/triangle-top.png';

// media query boundaries
$corset-loose: 1200px;
$corset-tight: 960px;